@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,900;1,100&display=swap');

body {
    padding: 0;
    margin: 0;
    border: 0;
    
}

#logo{
    background-image: url("images/logo100.jpg");
    background-size: 100px 100px;
    background-repeat:no-repeat;
    background-position: center;
    border: none;
    
   
}

#bg_tennis{
    background-image: url("images/tennis-generic.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position:top;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;

}


/*-----------------navbar-----------------*/
.container-fluid{  
    padding: 0%;
}

.navbar{
    padding: 0%;
}

.navbar-brand{
    padding: 0x;
    
    
}

#nav_row{
    width: 100vw;

}

#dropdownMenu2{
    border: 0%;
    margin: 30px;
    float: right;
}

.nvb_d{
    padding-left: 30px;
    margin: auto;
    
}

#any_t_title{
    text-align: center;
}
/*---------------------------------------------------*/
section{
   
}
/* --------------------------- media queries ------------------------------*/

@media screen and (min-width: 576px) { 
    body{
       /* background-color: red;*/
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {
    body{ 
        /*background-color: blue;*/
    }
 }

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) { 
    body{
      /*  background-color:chartreuse;*/
    }

 }

/*Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) { 
    body{
        /*background-color:dodgerblue;*/
    }

 }